body {
	background-color: LightGray;
}

div {
	display: box;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/******** Navigation Section *******/
.top-navigation{
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
}

.top-navigation .content {
	padding: 0px 2em;
	min-width: 37.5rem;
	height: 70px
	margin: 0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 1.7rem;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
	height: 4.375rem;
	margin-left: 50px;
}

